:root {
    --alt-contrast-color: rgba(83, 129, 172, 1);
    --checkout-light-text-color: #777;
}

/****************************************************************** ALL TOURS ******************************************************************/

.tours-header {
    min-height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../resources/_images/porto3.jpg);
}

.tours-header-text-box {
    width: 75%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.tours-header-text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}

.section-tours{
    width: 90%;
    margin: auto;
    padding-block: 100px;
    display: flex;
}

.tours-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.tours-grid-object {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tours-grid-object:nth-child(odd) {
    flex-direction: row-reverse;
}

.tours-image-container {
    height: 28.75rem;
    width: 50%;
}

.tours-image-object {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tours-content {
    height: 28.75rem;
    width: 50%;
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tours-title{
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--dark-text-color);
    text-align: left;
}

.tours-title, .tours-description {
    padding: 0 80px;
    margin-bottom: 1rem
}

.tours-button {
    border: none;
    border-radius: .3125rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    display: block;
    padding: 14px 36px;
    font-size: 13px;
    background: var(--contrast-color);
    position: relative;
    margin: 0 80px;
    width: fit-content;
}

.tours-button:hover {
    transform: translateY(-1px);
    opacity: 0.95;
}

@media (min-width: 62.001rem){
    .tours-text-box h1 {
        font-size: 62px;
    }
}

@media (max-width: 36.001rem) {


}

@media (max-width: 62.000rem) {
    .tours-grid-object {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 0.5rem;
    }

    .tours-grid-object:nth-child(odd) {
        flex-direction: column;
    }

    .tours-content {
        width: 100%;
        height: auto;
        padding: 1rem 0;
    }
    
    .tours-image-container {
        width: 100%;
    }

    .tours-title, .tours-description {
        padding: 0 20px;
    }

    .tours-button {
        margin:auto
    }
}

/****************************************************************** TOUR - TOURS ******************************************************************/

.tour-tours {
    padding: 10px;
    display: block;
}

.tour-tours {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center!important;
}

.tour-tours .tour-tour:hover {
    background-color: var(--light-background-color);
}

.tour-tours .tour-tour {
    padding-top: 10%;
    padding: 5%;
    border-radius: 25px;
    transition: 0.5s;
    height: 95%;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
}

.tour-tours .tour-row {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    display: grid;
}

.tour-tours .tours-title {
    margin-top: 16px;
    margin-bottom: 15px;
    color: var(--dark-text-color);
}

.tour-tours .tours-image {
    width: 85%;
    border-radius: 25px;
}

.tour-tours .tours-img-col {
    flex-basis: 28%;
    border-radius: 10px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
    padding: 20px 12px;
    background: rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

/****************************************************************** TOUR ******************************************************************/

.tour-header {
    min-height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../resources/_images/porto3.jpg);
    display: flex;
    align-items: flex-end;
}


.tour-header-text-box{
    max-width: 100%;
    text-align: left;
    margin: 2rem;
}

.tour-header-text-box h1 {
    font-size: 18px;
    color: #fff;
}

.tour-description{
    padding: 0!important;
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.tour-tours a {
    text-decoration: none;
}

.tour-info {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.tour-data {
    color: var(--medium-text-color);
    display: inline-block;
    font-size: 1.125rem;
    margin-inline: 1.5rem;
    list-style: none;
}

.tour-main{
    margin: 2rem auto;
}

.tour-introduction {
    border-top: 1px solid var(--medium-text-color);
    margin: auto;
    max-width: 60%;
    padding: 3.75rem 0;
    text-align: left;
}

.tour-introduction-title {
    margin-top: 1rem;
}

.tour-introduction-body {
    color: var(--medium-dark-text-color);
    margin-top: 1rem;
}

.tour-photos{
    max-width: 40%;
    margin: auto;
}
.tour-photo-grid{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    width: 100%;
    grid-gap: 1rem;
}

.tour-photo-container {

}

.tour-photo {
    border-radius: 0;
    width: 100%;
    height: 18rem;
    object-fit: cover;
    box-shadow: 0 2px 2px rgba(1, 1, 1, 0.5);
}

.tour-extras {
    margin: auto;
    max-width: 60%;
    padding: 3.75rem 0 0 0;
}

.tour-extras h2{
    margin-bottom: 1rem;
}

.tour-extra{
    display: flex;
    border-bottom: 1px solid var(--border-secondary);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.tour-extra-title {
    width: 30%;
}

.tour-extra-title h4 {
    color: var(--alt-contrast-color);
}

.tour-extra-content {
    width: 70%;
    color: var(--medium-dark-text-color);
}

.tour-extra-content ul {
    padding-left: 1.1rem;
}

.tour-extra-content li {
    color: var(--medium-dark-text-color);
}

.tour-extra-text {
    
}

.tour-extra-include {
    padding-left: 0!important;
    list-style: none;
}

.fa-check{
    color: var(--label-success);
    margin-right: 0.6rem;
}

.fa-xmark {
    margin-right: 0.6rem;
    color: var(--label-critical);
}

.tour-extra-meeting-link {
    text-decoration: none;
    color: var(--alt-contrast-color);
}

.tour-extra-meeting-link:hover {
    opacity: .75;
}

.important-info {
    border-bottom: none!important;
}

.important-info-row {
    width: 100%;
    margin-bottom: 1rem;
}

.important-info-row-title {
    font-weight: 500;
}




@media (min-width: 62.001rem){

}

@media (min-width: 36.001rem) and (max-width: 62.000rem) {

}

@media (max-width: 36.001rem) {
    .tour-info {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 62.000rem) {
    .tour-extra {
        flex-direction: column;
    }

    .tour-extras {
        max-width: 80%;
    }

    .tour-extra-title{
        width: 100%;
        margin-bottom: 1rem;
    }

    .tour-extra-content {
        width: 100%;
    }

    .tour-introduction {
        max-width: 80%;
    }

    .tour-header-text-box {
        margin: 1rem;
    }

    .tour-header-text-box h1 {
        font-size: 24px;
    }

    .tour-photos {
        max-width: 80%;
    }

    .tour-photo-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 75.001rem){
    .tour-header-text-box h1 {
        font-size: 32px;
    }
}
